
<div class="center-content" appearance="outline">

    <mat-card class="example-card">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Login">
          <div class="short">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" value="">
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" appearance="outline">
             
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>
          <hr>
            <div>
            <span>Forget Password?</span>
          </div>
          </div>
        </mat-tab>
        <mat-tab label="Register">
          <div class="example-large-box mat-elevation-z4">
            <div class="short">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" value="">
              </mat-form-field>
            
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Eamil</mat-label>
                <input matInput placeholder="Password" appearance="outline">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Username" value="">
              </mat-form-field>
            
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Password" appearance="outline">
                
              </mat-form-field>
              <button mat-raised-button color="primary">Signup</button>
            <hr>
              
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
        
        
      </mat-card>
    </div>
    
    
