.grid-container {
  margin: 20px;

}

/* .dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
} */

/* .more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
} */

.button {
  width: 100%;

}

.selector {
  justify-content: right;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  order: 4;
  background: rgb(104, 103, 104);
  padding: 5px;
  width: 300px;
  height: 450px;
  margin-top: 10px;
  margin-left: 10px;

  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}