<mat-grid-list cols="4" rowHeight="1:1.5">
  <mat-grid-tile><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Movie 1</mat-card-title>
      <mat-card-subtitle>Language</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="example-full-width" color="warn" appearance="outline">Book Tickets</button>
      
    </mat-card-actions>
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Movie 2</mat-card-title>
    <mat-card-subtitle>Language</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.hngvv
    </p>
    <h4>Release Date: </h4>
    <h4>Language</h4>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="example-full-width" color="warn" appearance="outline">Book Tickets</button>
    
  </mat-card-actions>
</mat-card></mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>